### Team id generator for all seasons (Step 6)
#### Author: S. Sakib Hasan

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
teams_in_season = {
    "2016": ["Arsenal", "Liverpool", "Chelsea", "Bournemouth", "Crystal Palace", "Manchester City", "Watford",
        "Manchester United", "Tottenham Hotspur", "Everton", "West Bromwich Albion", "Southampton",
        "Leicester City", "Sunderland", "Hull City", "Swansea City", "Stoke City",
        "Middlesbrough", "West Ham United", "Burnley"],
    "2017": ["Arsenal", "Liverpool", "Chelsea", "Bournemouth", "Crystal Palace", "Manchester City", "Watford",
        "Manchester United", "Tottenham Hotspur", "Everton", "West Bromwich Albion", "Southampton",
        "Leicester City", "Newcastle United", "Brighton and Hove Albion", "Swansea City", "Stoke City",
        "Huddersfield Town", "West Ham United", "Burnley"],
    "2018": ["Arsenal", "Liverpool", "Chelsea", "Bournemouth", "Crystal Palace", "Manchester City", "Watford",
        "Manchester United", "Tottenham Hotspur", "Everton", "Wolverhampton Wanderers", "Burnley", "Southampton",
        "Leicester City", "Newcastle United", "Brighton and Hove Albion", "Cardiff City", "Fulham",
        "Huddersfield Town", "West Ham United"],
    "2019": ["Arsenal", "Liverpool", "Chelsea", "Bournemouth", "Crystal Palace", "Manchester City", "Watford",
        "Manchester United", "Tottenham Hotspur", "Everton", "Wolverhampton Wanderers", "Burnley", "Southampton",
        "Leicester City", "Newcastle United", "Brighton and Hove Albion", "Norwich City", "Aston Villa",
        "Sheffield United", "West Ham United"]
}

In [3]:
team_names = [];
team_ids = [];

In [4]:
for season in teams_in_season:
    teams = teams_in_season[season]
    teams.sort()
    for team in teams:
        if not (team in team_names):
            team_names.append(team);
            team_ids.append(len(team_ids) + 1);

In [5]:
df = pd.DataFrame({"team_name": team_names, "team_id": team_ids });

In [6]:
df

                   team_name  team_id
0                    Arsenal        1
1                Bournemouth        2
2                    Burnley        3
3                    Chelsea        4
4             Crystal Palace        5
5                    Everton        6
6                  Hull City        7
7             Leicester City        8
8                  Liverpool        9
9            Manchester City       10
10         Manchester United       11
11             Middlesbrough       12
12               Southampton       13
13                Stoke City       14
14                Sunderland       15
15              Swansea City       16
16         Tottenham Hotspur       17
17                   Watford       18
18      West Bromwich Albion       19
19           West Ham United       20
20  Brighton and Hove Albion       21
21         Huddersfield Town       22
22          Newcastle United       23
23              Cardiff City       24
24                    Fulham       25
25   Wolverhampton Wanderers       26
26               Aston Villa       27
27              Norwich City       28
28          Sheffield United       29