In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir(os.path.join(os.getcwd(), "..", "data"));

In [3]:
target_gw = 4;

In [4]:
target_season = "2019";

In [5]:
data = [
    {
        "player": "David de Gea",
        "opponent": "Southampton",
        "home": 0
    },
    {
        "player": "Jamaal Lascelles",
        "opponent": "Watford",
        "home": 1
    },
    {
        "player": "Lewis Dunk",
        "opponent": "Manchester City",
        "home": 0
    },
    {
        "player": "Issa Diop",
        "opponent": "Norwich City",
        "home": 1
    },
    {
        "player": "Mohamed Salah",
        "opponent": "Burnley",
        "home": 0
    },
#     {
#         "player": "Ayoze Pérez",
#         "opponent": "Bournemouth",
#         "home": 1
#     },
    {
        "player": "Lucas Rodrigues Moura da Silva",
        "opponent": "Arsenal",
        "home": 0
    },
    {
        "player": "Raheem Sterling",
        "opponent": "Brighton and Hove Albion",
        "home": 1
    },
    {
        "player": "Divock Origi",
        "opponent": "Burnley",
        "home": 0
    },
    {
        "player": "Teemu Pukki",
        "opponent": "West Ham United",
        "home": 0
    },
    {
        "player": "Pierre-Emerick Aubameyang",
        "opponent": "Tottenham Hotspur",
        "home": 1
    },
    {
        "player": "David Button",
        "opponent": "Manchester City",
        "home": 0
    },
    {
        "player": "Isaac Hayden",
        "opponent": "Watford",
        "home": 1
    },
    {
        "player": "Aaron Wan-Bissaka",
        "opponent": "Southampton",
        "home": 0
    },
    {
        "player": "Martin Kelly",
        "opponent": "Aston Villa",
        "home": 1
    },
]

In [6]:
df = pd.read_csv("{}-prepared-data.csv".format(target_season))

In [7]:
df.sort_values(["season", "GW"], inplace=True)

In [8]:
df.tail()

,season,GW,at_home,player_id,opponent_id,champion_ls,top5_ls,bottom5_ls,promoted_ts,assists,...,red_cards_pgw,result_pgw,saves,saves_pgw,threat,threat_pgw,yellow_cards,yellow_cards_pgw,total_points_pgw,total_points
2099,2019,4,0,1254,13,0,0,1,0,0,...,0.0,-1.0,0,0.0,0.0,0.0,0,0.0,1.0,2
2103,2019,4,1,1255,27,0,0,0,1,0,...,0.0,1.0,0,0.0,0.0,0.0,0,0.0,0.0,0
2107,2019,4,0,1256,5,0,0,0,0,0,...,0.0,1.0,0,0.0,43.0,37.0,0,0.0,9.0,2
2111,2019,4,1,1257,2,0,0,1,0,0,...,0.0,1.0,0,0.0,3.0,2.0,0,0.0,5.0,2
2115,2019,4,0,1258,5,0,0,0,0,0,...,0.0,1.0,0,0.0,0.0,0.0,0,0.0,0.0,0

In [9]:
player_id_df = pd.read_csv("player_id_map.csv");

In [10]:
team_id_df = pd.read_csv("team_id_map.csv");

In [11]:
players = [];
teams = [];
at_homes = [];

In [12]:
team_ids = [];
player_ids = [];

champion_ls = [];
top5_ls = [];
bottom5_ls = [];
promoted_ts = [];

In [13]:
for inst in data:
    players.append(inst["player"]);
    teams.append(inst["opponent"]);
    at_homes.append(inst["home"]);

In [14]:
for team in teams:
    team_ids.append(team_id_df[team_id_df["team_name"] == team]["team_id"].iloc[0]);

In [15]:
for player in players:
    player_ids.append(player_id_df[player_id_df["actual_name"] == player]["player_id"].iloc[0]);

In [16]:
for team_id in team_ids:
    champion_ls.append(df[df["opponent_id"] == team_id]["champion_ls"].iloc[0]);
    top5_ls.append(df[df["opponent_id"] == team_id]["top5_ls"].iloc[0]);
    bottom5_ls.append(df[df["opponent_id"] == team_id]["bottom5_ls"].iloc[0]);
    promoted_ts.append(df[df["opponent_id"] == team_id]["promoted_ts"].iloc[0]);

In [17]:
ndf = pd.DataFrame(data={"player_id": player_ids, "opponent_id": team_ids, "at_home": at_homes, 
                         "champion_ls": champion_ls, "top5_ls": top5_ls, "bottom5_ls": bottom5_ls, 
                         "promoted_ts": promoted_ts})

In [18]:
cols = ['assists_pgw', 'bonus_pgw',
       'bps_pgw', 'clean_sheets_pgw',
        'creativity', 'creativity_pgw',
       'goals_conceded_pgw', 'goals_scored_pgw', 'ict_index',
       'ict_index_pgw', 'influence', 'influence_pgw', 'minutes_pgw',
       'own_goals_pgw', 'penalties_missed_pgw',
       'penalties_saved_pgw', 'red_cards_pgw', 'result_pgw',
       'saves_pgw', 'threat',
       'threat_pgw','yellow_cards_pgw', 'total_points_pgw']

In [19]:
ndf

,player_id,opponent_id,at_home,champion_ls,top5_ls,bottom5_ls,promoted_ts
0,176,13,0,0,0,1,0
1,778,18,1,0,0,0,0
2,820,10,0,1,1,0,0
3,977,28,1,0,0,0,1
4,841,3,0,0,0,1,0
5,822,1,0,0,1,0,0
6,555,21,1,0,0,1,0
7,191,3,0,0,0,1,0
8,1249,20,0,0,0,0,0
9,858,17,1,0,1,0,0
10,947,10,0,1,1,0,0
11,771,18,1,0,0,0,0
12,5,13,0,0,0,1,0
13,451,27,1,0,0,0,1

In [20]:
results = []
for col in cols:
    print("Performing act on column: {}".format(col))
    for player in player_ids:
        print("Player {}".format(player))
        results.append(df[(df["player_id"] == player) & (df["GW"] == target_gw-1)][col].iloc[0])
    ndf[col] = results
    results = []

Performing act on column: assists_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: bonus_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: bps_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: clean_sheets_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: creativity
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: creativity_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: goals_conceded_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: goals_scored_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: ict_index
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: ict_index_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: influence
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: influence_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: minutes_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: own_goals_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: penalties_missed_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: penalties_saved_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: red_cards_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: result_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: saves_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: threat
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: threat_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: yellow_cards_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451
Performing act on column: total_points_pgw
Player 176
Player 778
Player 820
Player 977
Player 841
Player 822
Player 555
Player 191
Player 1249
Player 858
Player 947
Player 771
Player 5
Player 451

In [21]:
ndf

,player_id,opponent_id,at_home,champion_ls,top5_ls,bottom5_ls,promoted_ts,assists_pgw,bonus_pgw,bps_pgw,...,own_goals_pgw,penalties_missed_pgw,penalties_saved_pgw,red_cards_pgw,result_pgw,saves_pgw,threat,threat_pgw,yellow_cards_pgw,total_points_pgw
0,176,13,0,0,0,1,0,0.0,0.0,11.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
1,778,18,1,0,0,0,0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,-1.0,0.0,4.0,18.0,0.0,1.0
2,820,10,0,1,1,0,0,0.0,1.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,3.0
3,977,28,1,0,0,0,1,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0
4,841,3,0,0,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,67.0,29.0,0.0,3.0
5,822,1,0,0,1,0,0,0.0,0.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,66.0,0.0,6.0
6,555,21,1,0,0,1,0,0.0,0.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,65.0,122.0,1.0,6.0
7,191,3,0,0,0,1,0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8,1249,20,0,0,0,0,0,0.0,3.0,83.0,...,0.0,0.0,0.0,0.0,1.0,0.0,38.0,114.0,0.0,17.0
9,858,17,1,0,1,0,0,0.0,1.0,25.0,...,0.0,0.0,0.0,0.0,1.0,0.0,23.0,33.0,1.0,6.0
10,947,10,0,1,1,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,771,18,1,0,0,0,0,0.0,0.0,11.0,...,0.0,0.0,0.0,0.0,-1.0,0.0,8.0,10.0,0.0,2.0
12,5,13,0,0,0,1,0,0.0,0.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,1.0
13,451,27,1,0,0,0,1,0.0,0.0,15.0,...,0.0,0.0,0.0,0.0,-1.0,0.0,2.0,2.0,0.0,2.0

In [22]:
ndf.to_csv("weekly-fpl-data.csv", index=False)